body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #e8e7bb;
    padding-left: 40px;
    padding-right: 40px;
}

nav {
    display: block;
}

table {
    vertical-align: middle;
    text-align: center;
    background-color: #adfab3;
    border: 1px solid #808080;
    margin-top: 100px,
}

.header {
    font-weight: bold;
}

td {
    padding-right: 10px;
    align-items: center;
    border: 1px solid #a8a8c3;
}
th {
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
